# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.idea

# Django database
*.sqlite3
db.sqlite3

# Environment variables
.env

# Django collected static files
staticfiles/
media/
theme/

# === Editor/IDE ===
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
settings.py
# Test cache
.pytest_cache/
htmlcov/
coverage.xml
*.cover
*.py,cover